// colors
$accentColor = #009FE3 // #06435a
$textColor = #3C3C3B // #083142
$borderColor = #eaecef
$codeBgColor = #333 // #02445d
$arrowBgColor = #aaa
$dotsColor = #4b4b4b

// layout
$navbarHeight = 4.5rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
