// CUSTOM FILE

// colors
$accentColor = #009FE3
$textColor = #3C3C3B
$borderColor = #eaecef
$codeBgColor = #333
$arrowBgColor = #aaa

// progress bar
$nprogressColor = $accentColor

// custom dots
$dotsColor = #4b4b4b

// layout
$navbarHeight = 4.5rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px